*{
    font-family: 'Poppins', sans serif;
} 

#results{
    font-size: 23px;
}

.content h2{
    font-size: 32px;
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: red;
}

.metricas {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home:before{
    z-index: 777;
    content:"";
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.4));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 40%;
    margin-top: 50px;
    margin-left: 50px;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 20px;
}

.home .content p{
    margin-bottom: 40px;
    font-size: 30px;
}

.titu {
    font-size: 35px;
    text-align:center;
    padding-top: 40px;
    color:rgb(4, 12, 49);
    padding-bottom:20px ;
}

.left-side{
    right: 0;
    width: 50%;
    height: 100%;
    position: absolute; 
}

.scores{
    display: flex;
    position: relative;
    flex-direction: column;
    padding:20px;
    justify-content: space-evenly;
    height: 90%;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 10%;
    background: transparent;
    backdrop-filter: blur(4px);
    z-index: 1;
}

.env_score .eco_score .soc_score{
    position: absolute;
    top: 50%;
    left: 50%;
    color:white;
}

.env_score h4{
    color:white;
}

.eco_score h4{
    color:white;
}

.soc_score h4{
    color:white;
}

#res_env{
    color:white;
    font-size: 3em;
    text-align: center;
}

#res_eco{
    color:white;
    font-size: 3em;
    text-align: center;
}

#res_soc{
    color:white;
    font-size: 3em;
    text-align: center;
}


