*{
    font-family: 'Poppins', sans serif;
} 

#results{
    font-size: 6em;
}

#titulo_sec_2{
    font-size: 30px;
}

.content h2{
    font-size: 32px;
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
}


.metricas {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home:before{
    z-index: 777;
    content:"";
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.4));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 40%;
    margin-top: 50px;
    margin-left: 50px;
}

.home .content h1{
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 53px;
    margin-bottom: 20px;
}

.home .content p{
    margin-bottom: 40px;
    font-size: 30px;
}

.titu {
    font-size: 35px;
    text-align:center;
    padding-top: 40px;
    color:rgb(4, 12, 49);
    padding-bottom:20px ;
}

.left-side{
    z-index: 888;
    right: 0;
    width: 60%;
    height: 100%;
    position: absolute; 
}

.scores{
    display: flex;
    position: relative;
    flex-direction: column;
    padding:20px;
    height: 90%;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
    background: transparent;
    backdrop-filter: blur(4px);
    z-index: 1;
}
.scores-val{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 6%;

}

.env_score .eco_score .soc_score{
    position: absolute;
    top: 50%;
    left: 50%;
    color:white;
}

.env_score h4{
    color:white;
}

.eco_score h4{
    color:white;
}

.soc_score h4{
    color:white;
}

#res_env{
    color:white;
    font-size: 40px;
    text-align: center;
}

#res_eco{
    color:white;
    font-size: 40px;
    text-align: center;
}

#res_soc{
    color:white;
    font-size: 40px;
    text-align: center;
}
.recomend{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 17px;
    text-align: left;
    padding-left: 22px;
    padding-right: 22px;
}
#overall{
    margin-top: 4%;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}
.home_2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
}

.home_2 .content_2{
    z-index: 888;
    color: black;
    width: 40%;
    margin-top: 50px;
    margin-left: 50px;
}

.recomender {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.bg_color{
    content: "";
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
    background: linear-gradient(45deg,#454546,#8c8c8c,#5dc1b9,#7462ff);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

/* TODAS LAS CATEGORIAS*/

/* .all_categories{
    position: relative;
    width: 100%;
    display: flex;
}

.all_categories section{
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}  */

 /* Seccion de recomendaciones 2 */
 /* ECONOMICO */

.categories{
    /* background: #2e3267; */
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/back1.jpg); */
    height: 29rem;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
/* 
.first-header {
    font-family: Arial, Helvetica, sans-serif;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    font-size: 30px;
    background-attachment: fixed;
}
 */

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
 /*    gap: 4rem; */

}

.categories__left{
    margin-right: 4rem;
    margin-top: 75px;
}

.categories__left p{
    margin: 1rem 0 3rem;
}

.categories__right{
    display:grid;
    grid-template-columns: repeat(3, 230px);
    gap: 1.2rem;
}

.category{
    /* background: #6c63ff;  */
    padding: 1.2rem;
    border: 2px solid #6c63ff;
    border-radius: 1.5rem;
    transition: all 400ms ease;
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    justify-self: center;
}

.category:hover{
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.2);
    z-index: 1;
    /* background: #424890; */
}



.category p {
    font-size: 0.95rem;
    color:black;
    text-align: center;
    margin: 0;
}

.icon_category{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.icon{
    background-color: #6c63ff;
    padding: 0.7rem;
    border-radius: 0.9rem;
    color: white;
}

.reco_eco{
    font-size: 18px;
}

/*AMBIENTAL*/

.categories_2{
    /* background: #2e3267; */
    height: 29rem;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.categories_2 h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__container_2{
    display: grid;
    grid-template-columns: 40% 60%;
 /*    gap: 4rem; */

}

.categories__left_2{
    margin-right: 4rem;
    margin-top: 75px;
}

.categories__left_2 p{
    margin: 1rem 0 3rem;
}

.categories__right_2{
    display:grid;
    grid-template-columns: repeat(3, 230px);
    gap: 1.2rem;
}

.category_2{
    /* background: #424890; */
    padding: 1.2rem;
    border: 2px solid #00bf8e;
    border-radius: 1.5rem;
    transition: all 400ms ease;
    display:flex;
    align-content: center;
    flex-wrap: wrap;
}

.category_2:hover{
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.2);
    z-index: 1;
}


.category_2 p {
    font-size: 0.95rem;
    color:black;
    text-align: center;
    margin: 0;
}

.icon_category_2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.icon_2{
    background-color: #00bf8e;
    padding: 0.7rem;
    border-radius: 0.9rem;
    color: white;
}

.reco_env{
    font-size: 18px;
}

/*SOCIAL*/

.categories_3{
    /* background: #2e3267; */
    height: 29rem;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.categories_3 h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__container_3{
    display: grid;
    grid-template-columns: 40% 60%;
 /*    gap: 4rem; */

}

.categories__left_3{
    margin-right: 4rem;
    margin-top: 75px;
}

.categories__left_3 p{
    margin: 1rem 0 3rem;
}

.categories__right_3{
    display:grid;
    grid-template-columns: repeat(3, 230px);
    gap: 1.2rem;
}

.category_3{
    /* background: #424890; */
    padding: 1.2rem;
    border: 2px solid #f7c94b;
    border-radius: 1.5rem;
    transition: all 400ms ease;
    display:flex;
    align-content: center;
    flex-wrap: wrap;
}

.category_3:hover{
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.2);
    z-index: 1;
}


.category_3 p {
    font-size: 0.95rem;
    color:black;
    text-align: center;
    margin: 0;
}

.icon_category_3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.icon_3{
    background-color: #f7c94b;
    padding: 0.7rem;
    border-radius: 0.9rem;
    color: white;
}

.reco_soc{
    font-size: 18px;
}


.titu {
    font-size: 35px;
    text-align:center;
    padding-top: 40px;
    color:rgb(4, 12, 49);
    padding-bottom:20px ;
}